<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
       <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
       <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

       <!-- Bootstrap Core Css -->
     
        <link href="{{asset('assets/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

          <!-- Waves Effect Css -->
         <link href="{{asset('assets/plugins/node-waves/waves.css') }}"rel="stylesheet" />

         <!-- Animation Css -->
         <link href="{{asset('assets/plugins/animate-css/animate.css') }}" rel="stylesheet" />

       <!-- Custom Css -->
       <link href="{{asset('assets/css/style.css') }}" rel="stylesheet">
       
       <link href="{{asset('assets/plugins/waitme/waitMe.css') }}" rel="stylesheet" />

          <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
          <link href="{{asset('assets/css/themes/all-themes.css') }}" rel="stylesheet" />
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico')}}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
              <!-- Jquery Core Js -->
    <script src="{{asset('assets/plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{asset('assets/plugins/bootstrap/js/bootstrap.js') }}"></script>

    <!-- Select Plugin Js -->
    <script src="{{asset('assets/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{asset('assets/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{asset('assets/plugins/node-waves/waves.js') }}"></script>

    <!-- Custom Js -->
    <script src="{{asset('assets/js/pages/examples/profile.js') }}"></script>

    <!-- Demo Js -->
    <script src="{{asset('assets/js/demo.js') }}"></script>
       {% endblock %}
    </body>
</html>
